aliyun-python-sdk-alidns==2.6.29
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-ecs==4.24.7
aliyun-python-sdk-ess==2.3.3
aliyun-python-sdk-kms==2.15.0
aliyun-python-sdk-market==2.0.24
aliyun-python-sdk-oos==1.5.0
aliyun-python-sdk-ram==3.2.0
aliyun-python-sdk-rds==2.5.11
aliyun-python-sdk-ros==3.2.0
aliyun-python-sdk-slb==3.3.8
aliyun-python-sdk-sts==3.0.2
aliyun-python-sdk-vpc==3.0.14
ansible
ansible-alicloud==1.20.0
ansible-alicloud-module-utils==1.5.0
ansible-base
ansible-core
Babel
bcrypt
cffi
chardet
crcmod
cryptography
fluidity-sm
footmark
gnupg
idna
invoke
Jinja2
jmespath
lexicon
libcomps
MarkupSafe
ntlm-auth
oss2
packaging
paramiko
ply
pyasn1
pycparser
pycryptodome
PyNaCl
pyparsing
PySocks
pytz
pywinrm
PyYAML
requests
requests-ntlm
resolvelib
rpm
shyaml
six
urllib3
xmltodict
